<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-0">

        <ul class="navbar-nav">

            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">Home</a></li>
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addTicket" class="nav-link">Create
                    Ticket</a></li>
            <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">SSTS</a></li>
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
            <div class="admin" id="admin">
                <td><button class="btn btn-primary" disabled="{{buttonDisabled}}" *ngIf="loginService.isUserLoggedIn()"
                        routerLink="/admin">Admin</button></td>

            </div>

        </ul>
    </nav>
</header>