.topnav-right {
    float: right;
  }

  .header-right {
    float: right !important;
  }


  #admin{
    position: absolute !important;
    top: 8px !important;
    right: 16px !important;
    font-size: 18px !important; 
    }