<div *ngIf="specialCharError" class="alert alert-danger alert-dismissible">
    <a href="#" (click)="closePopup()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    No Special Characters!
</div>

<div *ngIf="ticketNumberExists" class="alert alert-danger alert-dismissible">
    <a href="#" (click)="closePopup()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Ticket Number already exists!
</div>

<div class="col-md-6">
    <h2 class="text-center">Add Ticket</h2>
    <form>
        <div class="form-group">
            <label for="ticketNumber">Ticket Number:</label>
            <input type="number" [(ngModel)]="ticketNumber" value="default value" placeholder="{{ticket.ticketNumber}}"
                name="ticketNumber" class="form-control" id="ticketNumber">
        </div>

        <div class="form-group">
            <label for="assignee">Assignee:</label>
            <input [(ngModel)]="assignee" placeholder="Assignee" name="assignee" class="form-control" id="assignee">
        </div>

        <div class="form-group">
            <label for="priority">Priority:</label>
            <select [(ngModel)]="priority" name="priority" class="form-control" id="priority">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
        </div>

        <div class="form-group">
            <label for="type">Type:</label>
            <select [(ngModel)]="type" name="type" class="form-control" id="type">
                <option value="Development">Development</option>
                <option value="Testing">Testing</option>
                <option value="Production">Production</option>
            </select>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <input [(ngModel)]="description" placeholder="Description" name="description" class="form-control" id="description">
        </div>

        <div class="form-group">
            <label for="bugFinder">Bug Finder:</label>
            <input [(ngModel)]="bugFinder" placeholder="Bug Finder" name="bugFinder" class="form-control" id="bugFinder">
        </div>

        <button disabled="{{buttonDisabled}}" class="btn btn-success" (click)="addTicket()">Create</button>
    </form>
</div>