<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div *ngIf="specialCharError" class="alert alert-danger alert-dismissible">
    <a href="#" (click)="closePopup()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    No Special Characters!
</div>

<div *ngIf="invalidLogin" class="alert alert-warning alert-dismissible">
    <a href="#" (click)="closePopup()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Wrong Username or Password
</div>

<div class="mt-5">
    <div class="wrapper fadeInDown">
        <div class="container">
            <div class="card card-container">
                <img class="profile-img-card" src="https://img.icons8.com/ultraviolet/100/000000/bug.png">
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="text" id="login" class="form-control" name="login" placeholder="login" [(ngModel)]="username">
                    <input type="password" id="password" class="form-control" name="login" placeholder="password"
                        [(ngModel)]="password">

                    <input type="submit" class="btn btn-primary" value="Log In" (click)=checkLogin()>
                </form>

            </div>
        </div>
    </div>
</div>