<div class="row">
    <div class="offset-3  col-6 p-0">
        <table class="table table-stripe">
            <thead>
                <tr>

                    <th>Username</th>
                    <th>Role ID</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.username}}</td>
                    <td>{{user.role}}</td>

                </tr>
            </tbody>
        </table>

    </div>
</div>