<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="mt-5 ml-5 mr-5">

    <style>
        .ticket-body {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 40px;
        }

        ul#ticket1 li {
            display: inline;
        }
    </style>

    <div *ngIf="specialCharError" class="alert alert-danger alert-dismissible">
        <a href="#" (click)="closePopup()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        No Special Characters!
    </div>


    <h3 class="card-title">Ticket Number - {{ticket?.ticketNumber}}</h3>
    <h4 class="card-title">Timestamp - {{ticket?.timestamp}}</h4>



    <div class="ticket-body">
        <div class="form-group form-inline">
            <label class="mr-3" for="assigneeValue">Assignee: </label>
            <input [(ngModel)]="assignee" value="{{ticket?.assignee}}" name="assignee" class="col-xs-2" id="assigneeValue">
        </div>


        <div class="form-group form-inline">
            <label class="mr-5" for="statusValue">Status: </label>
            <select [(ngModel)]="status" name="status" class="form-control" id="status" value="{{ticket?.status}}"
                class="col-xs-1">
                <option value="Open">Open</option>
                <option value="Closed">Closed</option>
                <option value="Resolved">Resolved</option>
            </select>
        </div>


        <div class="form-group form-inline">
            <label class="mr-5" for="priorityValue">Priority: </label>
            <select [(ngModel)]="priority" name="priority" class="form-control" id="priority" value="{{ticket?.priority}}"
                class="col-xs-1">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
        </div>

        <div class="form-group form-inline">
            <h5 class="mb-4"><strong>Type: </strong>{{ticket?.type}}</h5>
        </div>

        <div class="form-group form-inline">
            <h5 class="mb-5"><strong>Reporter: </strong>{{ticket?.bugFinder}}</h5>
        </div>

        <div class="card mb-5">
            <div class="card-header">
                Description
            </div>
            <div class="card-body">
                <p class="card-text">{{ticket?.description}}</p>
            </div>
        </div>

        <h4>Comments</h4>
        <ul class="comment">
            <li *ngFor="let comment of ticketComments">
                <span class="badge">{{comment.name}}</span> {{comment.commentValue}} - {{comment.timestamp}}
            </li>
        </ul>
    </div>

    <form>

        <div class="form-group mt-5">
            <input [(ngModel)]="commentValue" placeholder="Comment" name="commentValue" class="form-control" id="commentValue">
        </div>

        <button class="btn btn-primary mb-5 mr-5" disabled="{{statusClosed}}" (click)="addComment()">Add Comment</button>
        <button class="btn btn-primary mb-5" disabled="{{buttonDisabled}}" (click)="editTicket(ticket)">Save</button>
    </form>

</div>