/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);


.alert {
    text-align: center;  
 }

 .btn {
     font-size:13px;
 }