<div *ngIf="show" class="alert alert-success alert-dismissible">
    <a href="#" (click)="closePopup()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Successfully Deleted Ticket!
</div>
<div class="admin" id="admin">
    <td><button class="btn btn-primary" disabled="{{adminDisabled}}" *ngIf="loginService.isUserLoggedIn()" routerLink="/admin">Admin</button></td>
</div>
<div class="row">
    <div class="offset-3  col-6 p-0">

        <table class="table table-stripe">
            <thead>
                <tr>

                    <th>Ticket Number</th>
                    <th>Priority</th>
                    <th>Assignee</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of tickets">
                    <td>{{ticket.ticketNumber}}</td>
                    <td>{{ticket.priority}}</td>
                    <td>{{ticket.assignee}}</td>
                    <td>{{ticket.type}}</td>
                    <td><button disabled="{{buttonDisabled}}" class="btn btn-primary" (click)="deleteTicket(ticket.ticketNumber)">Delete</button></td>

                    <td><button class="btn btn-primary" *ngIf="loginService.isUserLoggedIn()" (click)="onClick(ticket)">View</button></td>

                </tr>
            </tbody>
        </table>

    </div>
</div>